name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Run benchmarks
      run: cargo bench --verbose
    - name: Publish to crates.io
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: cargo publish --token ${{ secrets.CRATES_IO_API_TOKEN }}
