name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    if: !contains(github.event.head_commit.message, 'chore: Release')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Cache cargo registry and build
      uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

  release:
    if: !contains(github.event.head_commit.message, 'chore: Release') && github.ref == 'refs/heads/main' && github.event_name == 'push'
    needs: build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install cargo-release
      run: cargo install cargo-release

    - name: Bump version and publish
      env:
        CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_API_TOKEN }}
      run: |
        cargo release --no-confirm --execute minor
